body{
    padding: 0%;
    margin: 0%;
}
#main{
    display: flex;
   
    
}
.one{
    background-color:greenyellow;
    width: 100px;
    height: 100px;
    border: 1px solid black;

}
.two{
    background-color: goldenrod;
    width: 100px;
    height: 100px;
    border: 1px solid black;

}
.img1{
    width: 100px;
    height: 100px;
}